<div class="container-fluid">
    <a href="{{conference.url}}">
    <div class="row justify-content-center general-info">
        <div class="col-md-2 col-sm-2 d-flex justify-content-center align-items-center">
            <div class="image-container text-center">
                <img class="foto" *ngIf="conference.type=='In-person'" src="assets/conference.png">
                <img class="foto" *ngIf="conference.type=='Virtual'" src="assets/virtual_conference.png">
                <img class="foto" *ngIf="conference.type!='Virtual' && conference.type!='In-person'"
                    src="assets/help.png">
                <h3>{{conference.type}}</h3>
            </div>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="title">{{conference.title}}</h2>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 col-sm-4">
                    <h3>Dates</h3>
                    <h4>{{conference.date}}</h4>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Location</h3>
                    <h4>{{conference.location}}</h4>
                </div>
                <div class="col-md-4 col-sm-4 align-items-end">
                    <h3>Last Inscription</h3>
                    <h4>{{conference.dueDate}}</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="d-inline">Categories: </h3><h4 class="d-inline">{{conference.tags}}</h4>
                    
                </div>
            </div>
        </div>
    </div>
</a>

</div>