@import "../../../styles.scss";

.container-fluid{
    padding: 1.5rem;
    background-color: $white;
    border-radius: 0.5rem;
    margin-block: 1rem;
    max-width: 90%;
    box-shadow: 0 0 5px 1.5px #a683d1;
}
.general-info{
    min-height: 3rem;
    padding-block: 0.5rem;
}
h3{
    color: #a08ab9;
    font-size: 0.8rem;
    font-weight: bold;
}
h4{
    color: $oxford-blue;
    font-size: 0.9rem;
}
.general-info{
    min-height: 3rem;
    padding-block: 0.5rem;
}