<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-sm-8">
            <h3>Title</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-1 col-sm-4">
            <h3>Date</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-1 col-sm-4">
            <h3>Country</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-1 col-sm-4">
            <h3>City</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-1 col-sm-4">
            <h3>Type</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-2 col-sm-4">
            <h3>Inscription due date</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-2 col-sm-4">
            <h3>Price</h3>
            <h4>aaa</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3>Description</h3>
            <h4>aaa</h4>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h3>Tags</h3>
                    <h4>aaa</h4>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3>Organization</h3>
                    <h4>aaa</h4>
                </div>              
            </div>
        </div>
    </div>
</div>