<!-- As a link -->
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="row menu">
        <div class="col-md-6">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Home</a>
        </div>
          <div class="col-md-6">
            <a class="nav-link" routerLink="about">About</a>
          </div>     
      </div>
    </div>
  </nav>
  
<div class="page">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="row">
    <div class="col-md-5">
      <a href="#">Logo</a>
    </div>
    <div class="col-md-7">
      <p>Attributions:</p>
      <a href="https://www.flaticon.com/free-icons/crystal-ball" title="crystal ball icons">Crystal ball icons created by Freepik - Flaticon</a>
    </div>
  </div>  
</footer>
