@import "../styles.scss";

nav{
    padding-inline: 10vw;
    height: 8vh;
    background-color: $grape;
    font-family: 'Cinzel', serif;
    a{
        color:$ivory;
    }
} 
.logo{
    height: 4vh;
}

.nav-link.active{
    color: $ivory;
    padding-bottom: 0; 
    border-bottom: 2px solid $yellow;
}

.page{
    min-height: 72vh;
    background-color: $ivory;
}

footer{
    background-color: $grape;
    color: $ivory;
    height: 20vh;
    padding-inline: 10vw;
    padding-block: 5vh;
}