@import "../styles.scss";

*{
    font-family: 'Lora', serif;
}
nav{
    padding-inline: 10vw;
    height: 8vh;
    background-color: $grape;
    font-family: 'Cinzel', serif;
    a{
        color:$ivory;
    }
} 
.logo{
    height: 4vh;
    
}

.container-fluid{
   padding-inline: calc(var(--bs-gutter-x) * -0.5);
}

.nav-link.active{
    color: $ivory;
    padding-bottom: 0; 
    border-bottom: 2px solid $yellow;
}

.page{
    min-height: 72vh;
    background-color: $white;
}

footer{
    background-color: $grape;
    color: $ivory;
    height: 20vh;
    padding-inline: 10vw;
    padding-block: 5vh;
}