<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-md-2 col-sm-3 py-3 justify-content-center d-flex align-content-center">
            <div class="row text-center">
                <a href="{{journal.url}}">
                    <img class="foto" *ngIf="journal.imagePath == null || journal.imagePath == ''" src="{{imagePath}}">
                    <img class="foto" *ngIf="journal.imagePath != null && journal.imagePath != ''"
                        src="{{journal.imagePath}}">
                </a>
            </div>
        </div>

        <div class="col-md-5 info col-sm-9">
            <div class="row general-info">
                <div class="row title">
                    <div class="col-md-12 d-flex">
                        <h2>{{journal.title}}</h2>
                        <img title="Possibility of being a predator!" src="assets/lobo.png" class="predator" *ngIf="journal.predator == 'YES' || journal.predator == 'MDPI'">
                    </div>
                </div>
                <div class="row info">
                    <h4 class="issn"><strong>ISSN:</strong> {{journal.issn}}</h4>
                    <h4><strong>Publishing model:</strong> {{journal.type}}</h4>
                    <h4 *ngIf="journal.price != ''"><strong>Publication price: </strong>{{journal.price}}</h4>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-4 ">
                        <h3>Impact factor</h3>
                        <h4 *ngIf='journal.impactFactor != "0.0" '>{{journal.impactFactor}}</h4>
                        <h4 *ngIf='journal.impactFactor == "0.0" '>N/A</h4>
                    </div>
                    <div class="col-md-4 " *ngIf='journal.otherMetric != "0.0" && journal.otherMetric != "" '>
                        <h3>{{journal.nameOtherMetric}}</h3>
                        <h4>{{journal.otherMetric}}</h4>
                    </div>
                    <div class="col-md-4" *ngIf='journal.acceptanceRate != "" '>
                        <h3>Acceptance rate</h3>
                        <h4>{{journal.acceptanceRate}}</h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3 padding-y col-sm-6">
            <div class="row other-metrics">
                <div class="col-md-12">
                    <h2>Other metrics</h2> 
                </div>    
            </div>
            <div class="row" *ngIf='journal.timeDecision != "" '>
                <h3>Time to 1st decision</h3>
                <h4>{{journal.timeDecision}}</h4>
            </div>
            <div class="row" *ngIf='journal.timeReview != "" '>
                <h3>Time to review</h3>
                <h4>{{journal.timeReview}}</h4>
            </div>
            <div class="row" *ngIf='journal.timePublication != "" '>
                <h3>Time to publication</h3>
                <h4>{{journal.timePublication}}</h4>
            </div>
        </div>
        <div class="col-md-2 py-3 col-sm-12 quartil text-center justify-content-center">        
            <h2 class="my-4"*ngIf='journal.quartil != "" && journal.quartil != "()"'>{{journal.quartil}}</h2>
            <h3>SJR Ranking: </h3>
            <h4 *ngIf='journal.sjr_ranking != "" '>{{journal.sjr_ranking}}</h4>
            <h4 *ngIf='journal.sjr_ranking == "" '>N/A</h4>          
        </div>
    </div>

</div>