@import "../../../styles.scss";

.container-fluid{
    padding: 1.5rem;
    background-color: $white;
    border-radius: 0.5rem;
    margin-block: 1rem;
    max-width: 90%;
    box-shadow: 0 0 5px 1.5px #a683d1;
}
.general-info{
    min-height: 3rem;
    padding-block: 0.5rem;
}
.foto{   
    min-width: 3rem;
    max-height: 9rem;
    max-width: 5rem;
    min-height: 7rem;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 0 5px 1.5px #cfc2de;
    margin-inline: auto;
    margin-bottom: 0.2rem;
    border-radius: 0.2rem;
    
}
h3{
    color: #a08ab9;
    font-size: 0.8rem;
    font-weight: bold;
}
h4{
    color: $oxford-blue;
    font-size: 0.9rem;
}