<app-intro></app-intro>
<div class="container text-center">
  <div class="form-container" id="search">
    <form class="text-center" method="post" #form="ngForm">
      <h2 class="pb-2 pt-2">What are you searching for?</h2>
      <div class="row my-3 justify-content-center">
        <div class="col-md-6 d-flex justify-content-center form-check">
          <input [(ngModel)]="check_j" name="check_j" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
          <label class="form-check-label" for="flexCheckDefault">
            Journals in which to publish my article
          </label>
        </div>
        <div class="col-md-6 d-flex justify-content-center form-check">
          <input [(ngModel)]="check_c" name="check_c " class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            Conferences about my article's topics
          </label>
        </div>
      </div>   
      
      <input [(ngModel)]="title_j" name="title" type="title" id="titleInput" class="form-control mb-4" placeholder="Title of your article">
      
      <input [(ngModel)]="keywords" name="keywords" type="keywords" id="keywordsInput" class="form-control mb-4" placeholder="Keywords (optional)">

      <textarea [(ngModel)]="abstract" name="abstract" type="abstract" class="form-control rounded-1" id="abstractInput" rows="9" placeholder="Abstract"></textarea>
      
      <hr><h3>Or</h3><hr>
      <div class="file-container">
        <ngx-dropzone accept="application/pdf,.doc,.docx"(change)="onSelect($event)">
          <ngx-dropzone-label>Upload your article here<br>Only .pdf, .doc and .docx supported</ngx-dropzone-label>
          
          <ngx-dropzone-preview class="preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{getName(f)}}</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <p *ngIf="input_error" class = "error">
        {{error_name}}
      </p>
      <button class="btn btn-primary mt-4" type="submit" (click)="send_data()" [routerLink]="['']" fragment="your_results">Search</button>
    </form>
  </div>
</div>
<div class="text-center pb-5" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="text-center pb-5" *ngIf="!isLoading && search_data == null">Sorry! No results found</div>
<div class="text-center pb-5" *ngIf="isError">Ups! Something went wrong.</div>
<app-results *ngIf="search_data && !isLoading" [search_data]="search_data" [isJournals]="isJournals" [isConferences]="isConferences"></app-results>