@import "../../../styles.scss";


.container{
    padding-block:10vh;
}
h2{
    font-size: 1.7rem;
}
input:focus, textarea:focus, button:focus {
    border-color: rgba(64, 28, 132, 0.3);
    box-shadow: 0 0 0 0.2rem rgba(64, 28, 132, 0.3);
  }

.form-check-input:checked {
    background-color: $grape;
    border-color: $grape;
}
.form-container{
    background-color: $light-blue;
    width: 80%;
    padding-inline:5%;
    padding-block: 3%;
    border-radius: 0.5rem;
   
    box-shadow: 0px 0px 5px 2px #a683d1;
    margin-inline: auto;
}
.form-check-input{
    margin-right: 1rem;
}
.error{
    color: rgb(220, 38, 38);
    margin-top: 1rem;
    margin-bottom: 0;
}
h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2%;
}
.file-container{
    margin-top: 2%;
}
ngx-dropzone{
    height: 10rem;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}
.preview{
    min-width: none;
    width: 4.8rem;
    min-height: 3rem;
    height: 4.8rem;
    max-height: 4.8rem;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}
ngx-dropzone-label{
    text-overflow: ellipsis;
}
